@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-gray-100;
  font-family: 'Inter', sans-serif;
}

.flex-container {
  display: flex;
  background: linear-gradient(5deg, #34f1fe 5%, #39aacf 90%);
  overflow: auto;
  position: relative;
}

.record-card-container {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url('../assets/images/record-card.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 50vh;
  z-index: 1;
}

.flex-container-svg {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../assets/images/background-letters.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
  z-index: 2;
  margin-left: auto;
}


.icon {
  height: 3vh;
  width: 3vw;
  vertical-align: middle;
  margin: 0.5rem;
}

.custom-tip {
  position: absolute;
  z-index: 50;
  padding: 2rem;
  padding-top: 3rem;
  border-radius: 0.5rem;
  background: url('../assets/images/custom-tip-card.svg');
  overflow-y: auto;
  background-repeat: no-repeat;
  background-position: center;
  width: 32%;
  max-width: 50%;
  height: 38vh;
  max-height: 50vh;
  top: var(--tip-top, 0px);
  left: var(--tip-left, 0px);
}

.custom-tip-content {
  color: white;
  border-bottom: solid white 2px;
  font-size: 1.5rem;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
}

@media (max-width: 1400px) {
  .record-card-container {
    width: 50%;
  }

  .flex-container-svg {
    width: 68%;
  }

  .text-instruction {
    font-size: 1.75rem;
  }

  .icon {
    height: 3.5vh;
    width: 3.5vw;
  }

  .custom-tip {
    width: 35%;
    height: 40vh;
  }

  .custom-tip {
    width: 400px;
    height: auto;
    top: var(--tip-top, 10px);
    left: var(--tip-left, 10px);
    transform: translateY(-3%) translateX(-95%) !important;
  }

  .custom-tip-content {
    font-size: 1rem;
    padding: 1.1rem;
    width: 99%;
  }
}

@media (max-width: 850px) {
  .flex-container {
    flex-direction: column;
  }

  .record-card-container {
    position: static;
    width: 100%;
    height: auto;
    transform: translateY(0);
  }

  .flex-container-svg {
    order: -1;
    width: 100%;
  }

  .text-instruction {
    font-size: 1.5rem;
  }

  .icon {
    height: 4vh;
    width: 4vw;
  }

  .custom-tip {
    width: 400px;
    height: auto;
    top: var(--tip-top, 10px);
    left: var(--tip-left, 10px);
    transform: translateY(5%) translateX(-95%) !important;
  }
}

@media (max-width: 480px) {
  .text-instruction {
    font-size: 1.2rem;
  }

  .icon {
    height: 5vh;
    width: 5vw;
  }

  .custom-tip {
    width: 90%;
    height: auto;
  }

  .custom-tip {
    width: 400px;
    max-width: 100%;
    height: 360px;
    max-height: 100vh;
    padding: 1rem;
    padding-top: 4rem;
    transform: translateY(-8%) translateX(-94%) !important;
  }

  .custom-tip-content {
    font-size: 1rem;
    padding: 1.1rem;
    width: 99%;
  }
}